$form-background-color:  rgb(115, 200, 213);
$button-color: rgb(23, 114, 128);
$button-color-active : rgb(31, 71, 75);
$button-excuse : rgb(221, 52, 70);
$button-excuse-active : rgb(140, 47, 57);
$min-width : 812px;